/* common style  */
.container {
    position: relative;
    margin: 10px;
    padding: 0px 30px;
}





.nav-ber {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.nav-ber h1 {
    font-size: 28px;
}

.nav-ber a {
    text-decoration: none;
    font-size: 20px;
    color: black;
    margin-right: 30px;
}

/* nav closed  */



.head-container {
    display: flex;
    /* width: 100%; */
}

.head-container-one {
    width: 50%;


}

.head-container-two {
    width: 50%;
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
}


.head-container-two img {
    width: 30em;
    height: 30em;
}

.head-container>div>h1 {
    font-size: 52px;
}

.btn {
    padding: 0px 20px;
    background-color: #E02C6D;
    border-radius: 20px;
}

.image {
    width: 50%;
    position: relative;

}




/* company logo  */


.company-logo {
    margin-top: 80px;
}

.logo {
    display: flex;
    justify-content: space-around;
    /* margin-top: 50px; */

}

.logo img {
    margin-right: px;
    margin: 20px 0px;
}



/* popular calection
 */

.popular-calection {
    margin-top: 100px;
}

.popular-calection>h1 {
    text-align: center;
    font-size: 50px;
}

.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;

}

.blog {
    margin: 30px;
    padding: 30px;
    box-shadow: 5px 5px 10px 5px rgb(202, 197, 197);
    border-radius: 20px;
}


.blog a {
    text-decoration: none;

}

.star-yellow {
    color: rgb(230, 198, 17);

}

.see-more {
    text-align: right;
    color: #E02C6D;
    font-size: 16ox;
    font-weight: 700px;
    align-items: center;
}



/* another section - gear  */

.gear {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;

}


.gear-one {
    /* width: 50%; */
    margin-right: 50px;
}

.gear-two {
    /* width: 50%; */
}

.gear-two>h1 {

    font-size: 38px;
}




.footer {
    background-color: black;
    color: white;
    padding: 40px;
    text-align: center;
}

.footer i {
    margin-right: 20px;
}



@media screen and (max-width: 480px) {
    .head-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        direction: rtl;

    }

    .head-container-one {
        width: 100%;
        text-align: center;
    }

    .head-container-two {
        width: 100%;
    }

    .logo {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .blogs {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .blog {
        text-align: center;
    }

    .gear {
        display: grid;
        grid-template-columns: repeat(1, 1fr);


    }

    .gear div {
        text-align: center;
    }

}